.footer-container,
.footer-menu-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    padding: 2rem 0;
}

.mobil-container li {
    font-size: 1.5rem;
}

.icon-container {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-container img {
    width: 5rem;
    padding: 0 1rem;
    color: white;
}

.copy {
    color: white;
    margin-top: 1rem;
}

@media only screen and (min-width: 900px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-menu-container {
        width: 40%;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer-img {
        margin-left: 1rem;
    }
    .icon-container {
        width: 60%;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 0 1rem;
    }
    .icon-container img {
        padding: 0 1rem;
    }
    .mobil-container li {
        font-size: 1.3rem;
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .icon-container {
        max-width: 40%;
    }
}