.mobil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobil-container li:hover {
    color: hsl(0, 0%, 41%);
}

@media only screen and (min-width: 1200px) {
    .mobil-container {
        flex-direction: row;
    }
}