* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body,
.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: hsl(43, 75%, 88%);
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}